<nav id="profile_nav_bar" class="navbar navbar-fixed-top rt-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.editWidget()" class="navbar-link rt-text-color-white rt-col-l-r-20">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link rt-text-color-white rt-col-l-r-20">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="rt-text-color-white navbar-brand">
                Widget Edit
            </a>
        </div>
    </div>
</nav>
<!--Body of the Page-->

<div class="container rt-form-top-padding">
    <div ng-show="model.errorMessage" class="alert alert-danger rt-alert-padding" role="alert">{{model.errorMessage}}</div>
    <form>
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input ng-model="model.widgetName" type="text" class="form-control" id="widget-heading-name" placeholder="Name">
        </div>
        <div ng-model="model.widgetText"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>
        <a ng-click="model.deleteWidget()" class="btn btn-danger  btn-block" id="widget-heading-delete-btn">Delete</a>
    </form>
</div>

<!--Body of the Page-->
<nav class="navbar navbar-default navbar-fixed-bottom rt-navbar">
    <a href="#/user/{{model.uid}}" class="pull-right navbar-link">
        <span class="glyphicon glyphicon-user rt-text-color-white"></span>
    </a>
</nav>