<nav id="top-nav-bar" class="navbar navbar-default navbar-fixed-top rt-navbar">
    <div class="row">
        <div class="col-xs-4">
            <div class="container-fluid">
                <a href="#/user/{{model.uid}}/website" class="navbar-text pull-left rt-nav-icon-dim">
                    <span class="glyphicon glyphicon-chevron-left rt-color-white" aria-hidden="true"></span>
                </a>
                <a href="#/user/{{model.uid}}/website/new" class="navbar-text rt-nav-icon-dim pull-right">
                    <span class="glyphicon glyphicon glyphicon-plus rt-color-white" aria-hidden="true"></span>
                </a>
                <a class="navbar-brand rt-text-color-white">
                    Websites
                </a>
            </div>
        </div>

        <div class="col-xs-8">
            <div class="container-fluid rt-color-blue">
                <a href="#/user/{{model.uid}}/website" class="navbar-text pull-left rt-nav-icon-dim rt-visible-xs-port">
                    <span class="glyphicon glyphicon-chevron-left rt-color-white" aria-hidden="true"></span>
                </a>
                <a ng-click="model.editWebsite()" class="navbar-text pull-right rt-nav-icon-dim">
                    <span class="glyphicon glyphicon glyphicon-ok rt-color-white" aria-hidden="true"></span>
                </a>
                <a class="navbar-brand">
                    Edit Website
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <div class="list-group rt-body-content">
                <ul class="list-group">
                    <li ng-repeat="website in model.websites" class="list-group-item borderless">
                        <a class="rt-hyperlinks" href="#/user/{{website._user}}/website/{{website._id}}/page">{{website.name}}</a>
                        <a href="#/user/{{website._user}}/website/{{website._id}}" class="navbar-link pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="rt-vertical-line"></div>
        <div class="col-xs-8">
            <div class="container-fluid rt-body-content">
                <form name="websiteForm">
                    <div class="form-group">
                        <label for="edit-website-name">Name</label>
                        <input required ng-invalid name="name" ng-model="model.currentWebsiteName" type="text" class="form-control" id="edit-website-name" placeholder="Name">
                        <span ng-show="websiteForm.name.$invalid">name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="edit-website-description">Description</label>
                        <textarea ng-model="model.currentWebsiteDesc" id="edit-website-description" class="form-control" rows="5" placeholder="Description"></textarea>
                    </div>
                    <a ng-click="model.deleteWebsite()" class="btn btn-danger btn-block" id="edit-website-delete-btn">Delete</a>
                </form>
                <div ng-show="model.errorText" class="alert alert-danger rt-alert-padding" role="alert">{{model.errorText}}</div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom rt-navbar">
    <a href="#/user/{{model.uid}}" class="pull-right navbar-link">
        <span class="glyphicon glyphicon-user rt-text-color-white"></span>
    </a>
</nav>