input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 36px;
}

.rt-form-top-padding {
    padding-top: 5%;
    padding-bottom: 10%;
    /*color: purple;*/
}

.rt-text-color-white {
    color: white;
}

.rt-icon-right-padding {
    margin-right: 2%;
}

.rt-col-l-r-20 {
    padding-right:20px;
    padding-left:20px;
}

.rt-list-item-dim{
    text-align: justify;
    /*font-size: 1.5em;*/
    margin-top: 20px;
    margin-bottom: 20px;
}

a.rt-hyperlinks {
    text-decoration: none;
}

li.borderless {
    border: 0 none;
}

.rt-widget-list-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}

.rt-widget-header {
     float: left;
    display: inline-block;
 }

.rt-widget-images {
    /*display: inline;*/
    width: 100%;
    /*z-index: 100;*/
    /*position: relative;*/
}

.rt-widget-youtube {
    width: 100%;
}

.testte{
    float: left;
}

.rt-widget-list-dev-edit-icons {
    line-height: 1.1;
}

.navbar-fixed-bottom .navbar-link{
    margin-right: 5%;
    margin-top: 18px;
}

/* De-register Button Padding */
.btn.btn-danger.btn-block.rt-alert-margin-xxxl{
    margin-top: 40px;
}



/* Widget Adjustments */

.rt-widget-list-dim-adj{
    padding-top: 20px;
    padding-bottom: 5px;
}

.rt-widget-dev-options{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 20;
    background-color: white;
    padding-right: 0px;
}

.rt-rel-pos{
    position: relative;
}

.rt-widget-list-nav-bod-dim{
    padding-top: 50px;
}

/* Alert Box Padding */
.rt-alert-padding.alert-success, .rt-alert-padding.alert-danger{
    margin-top:10px;
    margin-bottom:10px;
}

/* Upload Button Adjustments */
.rt-upload{
    margin-bottom: 10px;
}

/*Navbar coloring*/

.rt-navbar {
    background-color: #2196E3;
}

.rt-navbar a.navbar-text, .rt-navbar a.navbar-brand{
    color: white;
}

/*Vertical Bar*/

.rt-vertical-line {
    border-top: 20px;
    width:1px;
    background-color: #9e9e9e;
    left: 33%;
    position: absolute;
    z-index: 10;
    top:0;
    bottom: 0;
}


/*Landscape Mode Box Dimension Changes*/

.col-xs-8 .navbar-brand{
    padding-left: 15px;
}

.col-xs-8 .container-fluid{
    padding-left: 0px;
}

.col-xs-4 .rt-body-content, .col-xs-8 .rt-body-content{
    padding-top: 30px;
    padding-bottom: 60px;
}

.col-xs-4 li{
    padding-left: 0;
    padding-right: 0;
}

.navbar .col-xs-8{
    padding-left: 0;
}

.navbar .col-xs-8 .pull-right{
    padding-right: 20px;
}

/*Orientation and Visibility Classes & Queries*/

.rt-visible-xs-port{
    padding-left: 35px;
    padding-right: 15px;
    display: none;
}

@media all and (max-device-width:550px) and (orientation:portrait) {
    .col-xs-4{
        display: none;
    }
    div.rt-vertical-line{
        display: none;
    }
    .col-xs-8{
        width: 100%;
    }
    .row .col-xs-8 .container-fluid .rt-visible-xs-port{
        display: block;
    }
}

@media all and (min-device-width:400px) and (orientation:landscape) {
    .row .col-xs-8 .container-fluid .rt-visible-xs-port{
        display: none;
        width: 0%;
    }
}