<div class="container">
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>
    <h1>Login</h1>
    <form name="loginForm">
        <input type="text"
               required
               name="username"
               class="form-control"
               placeholder="username"
               ng-invalid
               ng-model="model.username"/>
        <span ng-show="loginForm.username.$invalid">username is required</span>
        <input type="password"
               required
               class="form-control"
               name="password"
               placeholder="password"
               ng-invalid
               ng-model="model.password"/>
        <span ng-show="loginForm.password.$invalid">password is required</span>
    </form>
    <a class="btn btn-primary btn-block"
       ng-click="model.login(model.username, model.password)">Login</a>
    <a class="btn btn-success btn-block"
       href="#/register">Register</a>
</div>