<nav id="profile_nav_bar" class="navbar navbar-fixed-top rt-navbar">
    <div class="container">
        <p class="navbar-text navbar-right pull-right">
            <a ng-click="model.updateUser()" class="navbar-link rt-text-color-white rt-col-l-r-20">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="rt-text-color-white navbar-brand">
                Profile
            </a>
        </div>
    </div>
</nav>


<div class="container rt-form-top-padding">
    <form id="profile-form">
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.username" type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="email">Email address</label>
            <input ng-model="model.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input ng-model="model.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input ng-model="model.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
        </div>
    </form>

    <a class="btn btn-primary btn-block" href="#/user/{{model.user._id}}/website">Websites</a>
    <a class="btn btn-danger  btn-block" href="#/login">Logout</a>
    <a ng-click="model.deleteUser()" class="btn btn-danger  btn-block rt-alert-margin-xxxl">De-Register</a>
    <div ng-show="model.changeSuccess" class="alert rt-alert-padding alert-success" role="alert">{{model.changeSuccess}}</div>
    <div ng-show="model.changeFailure" class="alert rt-alert-padding alert-danger" role="alert">{{model.changeFailure}}</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom rt-navbar">
    <a href="#/user/{{model.user._id}}" class="pull-right navbar-link">
        <span class="glyphicon glyphicon-user rt-text-color-white"></span>
    </a>
</nav>
