<div ng-switch="model.widget.widgetType">
    <div ng-switch-when="HEADER">
        <ng-include src="'views/widget/header/widget-header-edit.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/image/widget-image-edit.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/youtube/widget-youtube-edit.view.client.html'">
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/html/widget-html-edit.view.client.html'">
    </div>
    <div ng-switch-when="TEXT">
        <ng-include src="'views/widget/text/widget-text-edit.view.client.html'">
    </div>
</div>