<nav id="profile_nav_bar" class="navbar navbar-fixed-top rt-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link rt-text-color-white rt-col-l-r-20">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="rt-text-color-white navbar-brand" href="#">
                Choose Widget
            </a>
        </div>
    </div>
</nav>
<!--Body of the Page-->

<div class="container rt-form-top-padding rt-list-item-dim">
    <div class="list-group">
        <ul class="list-group">
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="widget-heading.view.client.html">Header</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="#">Label</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="#">HTML</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="#">Text Input</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="#">Link</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="#">Button</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="widget-image.view.client.html">Image</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="widget-youtube.view.client.html">YouTube</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="#">Data Table</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks" href="#">Repeater</a>
            </li>
        </ul>
    </div>
</div>

<!--Body of the Page-->
<nav class="navbar navbar-default navbar-fixed-bottom rt-navbar">
    <a href="#/user/{{model.uid}}" class="pull-right navbar-link">
        <span class="glyphicon glyphicon-user rt-text-color-white"></span>
    </a>
</nav>