<nav id="profile_nav_bar" class="navbar navbar-fixed-top rt-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget"
                   class="navbar-link rt-text-color-white rt-col-l-r-20">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="rt-text-color-white navbar-brand">
                Choose Widget
            </a>
        </div>
    </div>
</nav>
<!--Body of the Page-->

<div class="container rt-form-top-padding rt-list-item-dim">
    <div class="list-group">
        <ul class="list-group">
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks"
                   href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/create/HEADER">
                    Header
                </a>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.futureFeature()" class="rt-hyperlinks">Label</a>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.futureFeature()" class="rt-hyperlinks">HTML</a>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.futureFeature()" class="rt-hyperlinks">Text Input</a>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.futureFeature()" class="rt-hyperlinks">Link</a>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.futureFeature()" class="rt-hyperlinks">Button</a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks"
                   href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/create/IMAGE">
                    Image
                </a>
            </li>
            <li class="list-group-item borderless">
                <a class="rt-hyperlinks"
                   href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/create/YOUTUBE">
                    YouTube
                </a>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.futureFeature()" class="rt-hyperlinks">Data Table</a>
            </li>
            <li class="list-group-item borderless">
                <a ng-click="model.futureFeature()" class="rt-hyperlinks">Repeater</a>
            </li>
        </ul>
        <div ng-show="model.featureMissingAlert" class="alert alert-info" role="alert">{{model.featureMissingAlert}}</div>
    </div>
</div>

<!--Body of the Page-->
<nav class="navbar navbar-default navbar-fixed-bottom rt-navbar">
    <a href="#/user/{{model.uid}}" class="pull-right navbar-link">
        <span class="glyphicon glyphicon-user rt-text-color-white"></span>
    </a>
</nav>