<nav id="profile_nav_bar" class="navbar navbar-fixed-top rt-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="widget-list.view.client.html" class="navbar-link rt-text-color-white rt-col-l-r-20">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="widget-list.view.client.html" class="navbar-link rt-text-color-white rt-col-l-r-20">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="rt-text-color-white navbar-brand" href="#">
                Widget Edit
            </a>
        </div>
    </div>
</nav>
<!--Body of the Page-->

<div class="container rt-form-top-padding">
    <form>
        <div class="form-group">
            <label for="widget-heading-name">Name</label>
            <input type="text" class="form-control" id="widget-heading-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="widget-heading-text">Text</label>
            <input type="text" class="form-control" id="widget-heading-text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="widget-heading-size">Size</label>
            <input type="text" class="form-control" id="widget-heading-size" placeholder="Size">
        </div>
        <a class="btn btn-danger  btn-block" id="widget-heading-delete-btn" href="widget-list.view.client.html">Delete</a>
    </form>
</div>

<!--Body of the Page-->
<nav class="navbar navbar-default navbar-fixed-bottom rt-navbar">
    <a href="../user/profile.view.client.html" class="pull-right navbar-link">
        <span class="glyphicon glyphicon-user rt-text-color-white"></span>
    </a>
</nav>