<nav id="profile_nav_bar" class="navbar navbar-fixed-top rt-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.editWidget()" class="navbar-link rt-text-color-white rt-col-l-r-20">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link rt-text-color-white rt-col-l-r-20">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="rt-text-color-white navbar-brand">
                Widget Edit
            </a>
        </div>
    </div>
</nav>
<!--Body of the Page-->
<div class="container rt-form-top-padding">
    <div ng-show="model.errorMessage" class="alert alert-danger rt-alert-padding" role="alert">{{model.errorMessage}}</div>
    <form>
        <div class="form-group">
            <label for="widget-image-name">Name</label>
            <input ng-model="model.widgetName" type="text" class="form-control" id="widget-image-name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="widget-image-text">Text</label>
            <input ng-model="model.widgetText" type="text" class="form-control" id="widget-image-text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="widget-image-url">URL</label>
            <input ng-model="model.widgetUrl" type="text" class="form-control" id="widget-image-url" placeholder="http://www.example.com">
        </div>
        <div class="form-group">
            <label for="widget-image-width">Width</label>
            <input ng-model="model.widgetWidth" type="number" class="form-control" id="widget-image-width" placeholder="100%">
        </div>
        <div class="form-group">
            <label for="widget-image-file-chooser">Upload</label>
            <input type="file" id="widget-image-file-chooser">
            <p class="help-block">Upload the image from your device.</p>
        </div>
        <a id="widget-image-upload-btn" class="btn btn-primary btn-block">Upload Image</a>
        <a ng-click="model.deleteWidget()" id="widget-image-delete-btn" class="btn btn-danger  btn-block">Delete</a>
    </form>
</div>
<!--Body of the Page-->
<nav class="navbar navbar-default navbar-fixed-bottom rt-navbar">
    <a href="#/user/{{model.uid}}" class="pull-right navbar-link">
        <span class="glyphicon glyphicon-user rt-text-color-white"></span>
    </a>
</nav>